.affiliations {
  font-family: 'Quicksand', sans-serif;
  margin-top: -25vh;
  padding: 25px;
  padding-top: 30vh;
  background-color: #f4f4f4;
  padding-bottom: 10vh;
}

.affImage {
  width: 80%;
  padding: 3%;
  border: 12px solid #46b3e6;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 5%;
}

.affImage:hover {
  border: 10px solid #cc0000;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .4);
  transform: translateY(-3px);
}