.bonspiels {
  font-family: 'Quicksand', sans-serif;
  background-color: #f4f4f4;
  padding: 25px;
}

.day-heading {
  color: #cc0000;
  font-weight: bold;
}

.labels {
  color: #4d80e4;
  font-weight: bold;
  margin-right: 1%;
}

.col-right {
  display: flex;
  height: inherit;
  align-items: flex-end;
  justify-content: flex-end;
}

.bon-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  text-align: center;
}