.footer {
  font-family: 'Quicksand', sans-serif;
  height: auto;
  padding: 25px;
  color: white;
  background-color: #4d80e4;
}

.footer-logo {
  height: 50%;
  float: right;
}

.social-img {
  padding: 5px;
  height: 50px;
  border-radius: 50%;
}

.social-img:hover {
  box-shadow: 0 7px 7px rgba(255, 255, 255, 0.5)
}

.contact-info {
  height: 50%
}

.btn-small {
  margin-left: 8px;
}

input {
  border: 1px solid #2e279d;
  height: 1.5em;
  width: 40%;
  margin-top: 1%;
  margin-bottom: 1%;
}