.history {
  font-family: 'Quicksand', sans-serif;
  padding: 25px;
  padding-top: 4vh;
  background-color: #f4f4f4;
  padding-bottom: 10vh;
  
}

.history-img {
  float: right;
  height: 80vh;
  padding: 10px;
  margin: 10px;
  margin-left: 15px;
  border: 10px solid #46b3e6;
}

.scoreboard-img {
  float: left;
  height: 50vh;
  padding: 12px;
  margin: 10px;
  margin-right: 20px;
  border: 10px solid #46b3e6;
}