.leagues {
  font-family: 'Quicksand', sans-serif;
  background-color: #f4f4f4;
  padding: 25px;
}

.day-heading {
  color: #cc0000;
  font-weight: bold;
}

.labels {
  color: #4d80e4;
  font-weight: bold;
  margin-right: 1%;
}

.col-right {
  display: flex;
  flex-direction: column;
}

.col-right button {
  margin-bottom: 8%;
  width: 100%;
}