/*
COLORS:
Red: #cc0000
Light gray: #f4f4f4
Light blue: #46b3e6
Medium blue: #4d80e4
Dark blue: #2e279d
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: none;
}

li, .dropdown {
  float: left;
  text-transform: uppercase;
  font-weight: 400;
}

li a, .dropbtn {
  display: inline-block;
  color: #2e279d;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(255, 0, 0, 0.15);
  color: 024b30;
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2)
}

li.dropdown {
  display: inline-block;
}

.dropdown-stuff {
  display: none;
  position: absolute;
  background-color: #f4f4f4;
  min-width: 160px;
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-stuff a {
  color: 2e279d;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-stuff a:hover {
  background-color: #f1f1f1;
  color: #2e279d;
}

.dropdown:hover .dropdown-stuff {
  display: block;
}