.parallax {
  height: 50vh;
  background-image: linear-gradient(to right bottom, rgba(230, 70, 70, 0.6), rgba(228, 77, 77, 0.6)), url(../img/parallax.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  clip-path: polygon(0 15vh, 100% 0, 100% 35vh, 0 100%);
}