/*
COLORS:
Red: #cc0000
Light gray: #f4f4f4
Light blue: #46b3e6
Medium blue: #4d80e4
Dark blue: #2e279d
*/

body {
  font-family: 'Lato', sans-serif;
}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */