.user-profile {
  height: 70vh;
  font-family: 'Quicksand', sans-serif;
  padding: 25px;
  padding-top: 4vh;
  background-color: #f4f4f4;
  padding-bottom: 10vh;
}

.greeting {
  text-transform: capitalize;
  margin-bottom: 10%;
}

.profile-column {
  text-align: center
}

.list-item {
  color: #cc0000;
  margin-top: 1%;
}